#### STORAGE SERVICES ####

# S3
s3.awsDefaultRegion=
s3.awsAccessKeyId=
s3.awsSecretAccessKey=

# AZURE_BLOB
azureBlob.accountName=
azureBlob.accountKey=

# GOOGLE_CLOUD
gcs.projectId=
gcs.clientId=
gcs.clientEmail=
gcs.privateKeyId=
gcs.privateKey=

#### EMBEDDING MODELS ####

# OPENAI
openai.apiKey=

# AZURE_AI_VISION
azureAIVision.key=
azureAIVision.endpoint=
azureAIVision.apiVersion=

# AZURE_OPENAI
azureOpenai.key=
azureOpenai.endpoint=
azureOpenai.apiVersion=

# MISTRAL_AI
mistralAi.apiKey=

# NOMIC
nomic.apiKey=

# EINSTEIN
einstein.clientId=
einstein.clientSecret=
einstein.sfdcOrg=

# VERTEX_AI
vertexai.projectId=
vertexai.location=
vertexai.clientId=
vertexai.clientEmail=
vertexai.privateKeyId=
vertexai.privateKey=

#### VECTOR STORES ####

# ALLOYDB
alloydb.projectId=
alloydb.region=
alloydb.cluster=
alloydb.instance=
alloydb.iamAccountEmail=
alloydb.host=
alloydb.ipType=
alloydb.port=
alloydb.database=
alloydb.user=
alloydb.password=

# CHROMA
chroma.url=

# HUGGING FACE
huggingFace.apikey=

# ELASTICSEARCH
elasticsearch.url=
elasticsearch.user=
elasticsearch.password=

# OPENSEARCH
openSearch.url=
openSearch.user=
openSearch.password=

# PGVECTOR
pgvector.host=
pgvector.port=
pgvector.database=
pgvector.user=
pgvector.password=

# MILVUS
milvus.uri=
milvus.host=
milvus.port=
milvus.token=
milvus.username=
milvus.password=


# PINECONE
pinecone.apiKey=
pinecone.serverlessCloud=
pinecone.serverlessRegion=

# WEAVIATE
weaviate.protocol=https
weaviate.host=
weaviate.port=
weaviate.apiKey=
weaviate.avoidDups=true
weaviate.consistencyLevel=ALL

# QDRANT
qdrant.host=
qdrant.apiKey=
qdrant.grpcPort=
qdrant.useTls=
qdrant.textKey=

# AI_SEARCH
aiSearch.key=
aiSearch.url=

# MONGODB_ATLAS
mongoDBAtlas.host=
mongoDBAtlas.port=
mongoDBAtlas.user=
mongoDBAtlas.password=
mongoDBAtlas.database=
mongoDBAtlas.options=

# EPHEMERAL FILE
ephemeralFile.folderPath=
